@font-face {
	font-family: montserrat;
	src: url(../fonts/Montserrat_var_wght.ttf);
}

@font-face {
	font-family: quicksand;
	src: url(../fonts/Quicksand_var_wght.ttf);
}

::-webkit-scrollbar {
	opacity: 0;
	width: 0;
	height: 0;
}

.hidden {
	opacity: "0";
	max-width: 0;
	min-height: 0;
	position: absolute;
	top: 10000;
	right: 10000;
}

button {
	cursor: pointer;
}

hr {
	background-color: lightsteelblue;
	outline: none;
	border: none;
	height: 1px;
	box-shadow: 0 0 3px lightblue;
}

#mainWindow {
	display: inline-block;
	width: calc(100vw);
	height: calc(100vh);
	background-color: white;
	/* border: 4px solid rgb(0, 14, 51); */
	overflow: hidden;
}

body {
	background-color: rgba(0, 0, 0, 0);
}

* {
	padding: 0;
	margin: 0;
}

nav {
	position: fixed;
	width: 100vw;
	-webkit-app-region: drag;
	color: whitesmoke;
	background-color: #131313;
	/* border-radius: 11px 11px 0 0; */
	padding: 20px 0;
	white-space: nowrap;
	max-height: 10px;
	z-index: 5;
}

nav > .navElement {
	display: inline-block;
}

nav > .navHeader {
	font-family: montserrat;
	font-variation-settings: "wght" 175;
	font-variant: small-caps;
	font-size: 22px;
	position: absolute;
	top: 50%;
	/* left: 50%; */
	transform: translateY(-50%) translateX(25%) scaleX(1.4);
	cursor: default;
}

nav > .navHeader::selection {
	background-color: transparent;
}

#addTaskBtn {
	-webkit-app-region: no-drag;
	width: 60px;
	height: 40px;
	background-color: transparent;
	border-radius: 8px;
	/* padding: 6px 14px; */
	font-family: quicksand;
	font-variation-settings: "wght" 475;
	font-size: 20px;
	cursor: pointer;
	position: absolute;
	right: 1.25vw;
	bottom: 1.25vh;
	/* transform: translateY(-50%); */
	/* color: rgb(70, 97, 255); */
	color: lightsteelblue;
	/* border: 2px solid rgb(70, 97, 255); */
	border: 2px solid lightsteelblue;
	transition: 0.3s;
	position: fixed;
	bottom: 10px;
	right: 10px;
}

#addTaskBtn:hover {
	/* background-color: rgb(70, 97, 255); */
	background-color: lightsteelblue;
	color: black;
	box-shadow: 0 0 8px lightsteelblue;
}

#addTaskInput {
	background-color: white;
	position: absolute;
	bottom: 1.25vh;
	left: 1.25vw;
	-webkit-app-region: no-drag;
	min-width: 78vw;
	background-color: transparent;
	border-radius: 8px;
	padding: 6px 14px;
	font-family: quicksand;
	font-variation-settings: "wght" 475;
	font-size: 20px;
	/* transform: translateY(-50%); */
	color: rgb(70, 97, 255);
	border: 2px solid rgb(70, 97, 255);
	transition: 0.3s;
	outline: none;

}

#addTaskInput:focus {
	color: white;
}

#addTaskInput::placeholder {
	color: lightslategrey
}

nav > .sizeButtons {
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
}

nav > .sizeButtons > * {
	-webkit-app-region: no-drag;
	cursor: pointer;
	margin: 0 2px;
	display: inline-block;
}

nav > .sizeButtons > #closeWindowButton {
	min-width: 12px;
	min-height: 12px;
	/* font-size: 10px; */
	transition: 0.5s;
	/* background-color: transparent; */
	/* color: white; */
	/* border: 2px solid transparent; */
	border-radius: 50%;
	/* transform-origin: center; */
	/* transform: scale(0.8); */
	/* color: white; */
	background-color: rgb(189, 0, 0);
	/* background-color: green; */
	/* text-align: center; */
	cursor: pointer;
	margin: 0 4px 0 2px;
}
/* 
nav > .sizeButtons > #closeWindowButton > button {
	cursor: pointer;
	border: none;
	background-color: transparent;
} */

nav > .sizeButtons > #closeWindowButton:hover {
	background-color: crimson;
}

nav > .sizeButtons > #fullscreenWindowButton {
	min-width: 12px;
	min-height: 12px;
	transition: 0.3s;
	/* font-size: 15px; */
	/* background-color: green; */
	/* color: white; */
	/* border: 2px solid transparent; */
	/* padding: 2px 10px; */
	border-radius: 50%;
	/* letter-spacing: -2px; */
	/* transform: scaleY(1.2); */
	background-color: rgb(0, 156, 0);
}

nav > .sizeButtons > #fullscreenWindowButton:hover {
	/* color: rgb(70, 97, 255); */
	filter: invert(1);
}

nav > .sizeButtons > #minimizeWindowButton {
	min-width: 12px;
	min-height: 12px;
	transition: 0.3s;
	/* font-size: 15px; */
	/* background-color: green; */
	/* color: white; */
	/* border: 2px solid transparent; */
	/* padding: 2px 10px; */
	border-radius: 50%;
	/* letter-spacing: -2px; */
	/* transform: scaleY(1.2); */
	background-color: rgb(196, 183, 0);
}

nav > .sizeButtons > #minimizeWindowButton:hover {
	color: rgb(70, 97, 255);
}

#tasksDiv {
	width: 97vw;
	height: 84vh;
	/* border: 2px solid red; */
	position: absolute;
	top: 50px;
	left: 50%;
	transform: translateX(-50%);
}

#tasksDiv > * {
	color: rgb(39, 39, 39);
}

.taskDiv {
	background-color: rgb(245, 245, 245);
	box-shadow: 0px 0px 8px lightblue;
	/* color: purple; */
	border-radius: 8px;
	/* border: 2px solid #AA96DA; */
	margin-bottom: 10px;
	/* padding:  4px 8px; */
	width: 340px;
	min-height: 180px;
	display: inline-block;
	margin: 30px;
	white-space: pre-wrap;
	vertical-align: top;
	transition: 0.1s;
	position: relative;
}

.taskDiv:hover {
	transform: scaleX(1.07) scaleY(1.07);
}

.taskDiv > h2 {
	font-size: 18px;
	font-family: "quicksand";
	font-weight: 100;
	margin: 0 10px;
}

.taskDiv > button {
	background: transparent;
	outline: none;
	border: none;
}

.addTaskPopup {
	width: 50vw;
	height: 75vh;
	position: fixed;
	top: 50%;
	left: 50%;
    box-shadow: 0px 0px 10px lightblue;
	transform: translateX(-50%) translateY(-50%);
	border: none;
	outline: none;
	border-radius: 10px;
	z-index: 4;
}

.bgFunctionalityLimiterFrame {
	z-index: 3;
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	right: 0;
	outline: none;
	border: none;
}

.taskFunctionsDiv {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	/* height: 100%; */
}

.taskFunctionsDiv > button {
	width: 50%;
	display: inline-block;
	height: 30px;
	vertical-align: bottom;
	outline: none;
	font-family: "quicksand";
	/* font-variant: small-caps; */
}

.taskDeleteBtn {
	color: white;
	transition: 0.1s;
	/* position: relative; */
	/* left: 300px; */
	/* top: 140px; */
	height: 10px;
	width: 10px;
	/* border: 2px solid red; */
	background-color: lightsteelblue;
	border: 2px solid lightsteelblue;
	/* font-size: 20px; */
	/* border-top-left-radius: 10px; */
	border-bottom-left-radius: 10px;
}

.taskDeleteBtn:hover {
	color: lightskyblue;
	/* border-bottom: 2px solid white; */
	/* transform-origin: left;	 */
	background-color: transparent;
	color: lightsteelblue;
}

.taskEditBtn {
	background-color: rgb(75, 204, 75);
	transition: 0.1s;
	/* border-top-right-radius: 10px; */
	border-bottom-right-radius: 10px;
	border: 2px solid rgb(75, 204, 75);
	color: white;
}

.taskEditBtn:hover {
	background-color: white;
	color: rgb(75, 204, 75);
}

.dateTimeDiv {
	background-color: rgb(180, 180, 180);
	color: black;
	border-top-left-radius : 8px;
	border-top-right-radius : 8px;

	font-family: "montserrat";
	font-size: 12px;
	padding: 4px;
	text-align: center;
}
/* 
.importantTaskBox {
	box-shadow: 0 0 10px goldenrod !important;
} */