<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- links -->
	<link rel="stylesheet" href="../css/index.html.css">

	<!-- scripts -->
	<script src="../scripts/index.js" defer></script>
	<script src = "../scripts/menuHandler.js" defer></script>
	<script src="../scripts/addTaskPopupHandler.js" defer></script>
	
	<title>ELECTOS</title>
</head>
<body>
	<section id = "mainWindow">
		<nav>
			<h1 class = "navHeader navElement">ELECTOS</h1>
			<div class = "sizeButtons navElement">
				<div id = "minimizeWindowButton">
				</div>

				<div id = "fullscreenWindowButton">
				</div>

				<div id = "closeWindowButton">
				</div>
			</div>
		</nav>

		<div id = "tasksDiv">
			
		</div>

		<div id = "functions_div">
			<button class = "navButton navElement" id = "addTaskButton">Add Task</button>
			<!-- <input type="text" id = "addTaskInput" placeholder="New Task"> -->
		</div>
	</section>
</body>

</html>